/*style.css*/


/*----------Banner Styles----------*/
.col-2-banner {
    display: flex;
    max-height: 350px;
    gap: 10px;
    background-color: #495e57;  
    text-align: justify;
}
.col-2-banner h1 {
    line-height: 0px;
}

.banner-image, .banner-text{
    width: 50%;
}
.banner-image img{
    border-radius: 10px;
    margin-top: 20px;
    float: right;
    margin-right: 50px;
}
.banner-text .button {
    margin-top: 30px;
}
.banner-text {
    padding: 50px 0px 50px 50px;
    color: white;
}

/*----------Menu Styles----------*/
.col-2-menu {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.col-2-menu h1 {
    color: black;
}
.menu-card {
    margin: 20px 0px 0px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 20px 20px rgba(0,0,0,0.08);
}
.menu-card img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.menu-card-text {
    padding: 0px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-card-text p {
    flex: 1;
}



/*----------Testimonials Styles----------*/
.testimonials-section {
    padding: 10px 50px 50px 50px;
    background-color: #495e57;  
}

.testimonials-section h1{
    text-align: center; 
}

.testimony-card {
    background-color: white;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    border-radius: 10px;
}


/*----------Footer Styles----------*/
footer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #495e57;
    color: white;
    padding-bottom: 80px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer img {
    padding-left: 25%; 
    padding-top: 20px;
}


/*----------Landing Page Responsive Styles----------*/
@media (max-width: 576px) {
    /*----------Banner Responsive Styles----------*/
    .col-2-banner {
        display: block;
    }
    .banner-text {
        width: 77%;
    }
    .banner-image {
        display: none;
    }

    /*----------Menu Responsive Styles---------*/
    .col-2-menu {
        display: block;
    }

    /*----------Footer Responsive Styles----------*/
    footer {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 20px;
        padding-bottom: 100px;
        row-gap: 20px;
    }
    footer img {
        display: none;
    }
}