/*style.css*/

.col-2 {
    display: flex;
    max-height: 350px;
    gap: 20px;
    text-align: justify;
}
.col-2 h1 {
    color:#f4ce14; 
    line-height: 0px;
}

.image, .text{
    width: 50%;
}
.image img{
    border-radius: 10px;
    margin-top: 20px;
    float: right;
    margin-right: 50px;
}
.text img {
    border-radius: 10px;
}
.text .button {
    margin-top: 30px;
}
.menu-card {
    margin: 20px 0px 0px 0px;
    background-color: #edefee;
    display: flex;
    flex-direction: column;
}
.menu-card img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.menu-card-text {
    padding: 0px 20px 10px 20px;
}
.menu-card-text a {
    text-decoration: none;
    color: black;
    margin-top: auto;
}

.testimonials-section {
    padding: 10px 50px 50px 50px;
}

.testimonials-section h1{
    text-align: center; 
    color: #f4ce14;
}

.testimony-card {
    background-color: #edefee;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    border-radius: 10px;
}

footer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #495e57;
    color: white;
    padding-bottom: 80px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer img {
    padding-left: 25%; 
    padding-top: 20px;
}

