/*common-styles.css*/


/*----------Body Styles-----------*/
body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: monospace;
}

/*----------Floating Cart Btn Styles----------*/
.floating-cart-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    background-color: #f4ce14;
    color: #000;
    padding: 14px 30px;
    font-size: 1rem;

    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.floating-cart-btn:active, .button:active {
    transform: translateY(-2px);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.35);
}

/*----------Header Styles----------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 500;
    background-color: white;
}
header::after {
    content: "";
    display: block;
    height: 3px;          
    background-color: #495e57;  
    width: 100%;          
    position: absolute;
    bottom: 0;            
    left: 0;
}
.header-inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1rem;
}

li a:hover {
    background-color: #495e57;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

main {
    margin-top: 80px;
}

.padded-section {
    padding: 50px;
}

.button {
    color: black;
    font-weight: 600;
    background-color: #f4ce14;
    border-radius: 15px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-block;
    border: none;
    cursor: pointer;
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 10px;
}
.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}
h1 {
    color:#f4ce14; 
}


/*----------Menu Card Styles----------*/

.menu-card {
    margin: 20px 0px 0px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 20px 20px rgba(0,0,0,0.08);
}
.menu-card img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.menu-card-text {
    padding: 0px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-card-text p {
    flex: 1;
    margin-top: 0%;
}

.menu-card-text h2, .menu-card-text h3 {
    margin: 0.8rem 0;
}

.menu-col-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-price {
    background-color: #495e57;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.actions {
    display: flex;
    gap: 10px;
}

.quantity {
    display: flex;
    border: 2px solid #e2e8f0;
    border-radius: 12px;
    overflow: hidden;
}
.quantity button {
    background: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 0.9rem;
    color: #4a5568;
}

.quantity span {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #2d3748;
}

.add-btn {
    flex: 1;
    padding: 10px 0;
}

