/*common-styles.css*/


/*----------Body Styles-----------*/
body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: monospace;
}


/*----------Header Styles----------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 500;
    background-color: white;
}
header::after {
    content: "";
    display: block;
    height: 3px;          
    background-color: #495e57;  
    width: 100%;          
    position: absolute;
    bottom: 0;            
    left: 0;
}
.header-inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1rem;
}

li a:hover {
    background-color: #495e57;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

main {
    margin-top: 80px;
}

.padded-section {
    padding: 50px;
}

.button {
    color: black;
    font-weight: 600;
    background-color: #f4ce14;
    border-radius: 15px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-block;
    border: none;
    cursor: pointer;
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 10px;
}
.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}
h1 {
    color:#f4ce14; 
}
