main {
    min-height: 80vh;
    display: flex;
    align-items: center;   
    justify-content: center;
}

.container {
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
label, input {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 5px 0;
    box-sizing: border-box;
}
input {
    padding: 8px;
}

.center-row {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 30px;
    width: 100%;
}
label {
    font-weight: bold;
}

h2 {
    line-height: 0;
}

.form-input {
    margin-bottom: 5px;
}

.login-text {
    text-align: center;
    margin-bottom: 20px;
}

.login-image {
    text-align: center;
    margin-bottom: 40px;
}

span {
    font-weight: bold;
    color: #f4ce14;
    cursor: pointer;
}