.banner {
    background-color: #495e57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.banner h2 {
    color: white;
    line-height: 0;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px ;
}

.filters p {
    border: 2px solid #d9d5d5;
    border-radius: 20px;
    padding: 7px 20px;
    margin: 0 0.5rem 0.5rem 0;
    cursor: pointer;
}
.filters p.active {
    background-color: #f4ce14;
}

.pad-section {
    padding: 0 50px 50px 50px;
}


