.banner {
    background-color: #495e57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

h2 {
    color: white;
    line-height: 0;
}

.filters {
    display: flex;
}

.filters p {
    border: 2px solid #d9d5d5;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}


