/*----------Reservation form styles----------*/
form {
    padding: 10px;
    padding-bottom: 40px;
    background-color: #495e57; 
}

form h1 {
    padding-left:10%;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0% 10%;
    gap: 50px;
    color: white;
    font-weight: 600;
    row-gap: 20px;
    font-size: 0.9rem;
}

input[type="date"], input[type="time"], select {
    width: 100%;
    box-sizing: border-box;
}

.button-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

input, select {
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}

/*----------Grid Responsive Styles----------*/
@media (max-width: 576px) {
    .grid-4 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}