/*Common Styles Responsive Styles*/
@media (max-width: 768px) {
    /*----------Menu and Testimonials Grid Responsive Styles----------*/ 
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    /*----------Header Responsive Styles----------*/
    nav {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background: #fff;
        width: 100%;
    }
    nav ul {
        flex-direction: column;
        padding: 1rem;
    }
    .menu-toggle {
        display: block;
    }
    nav.active {
        display: block;
    }
}

@media (max-width: 576px) {
    .padded-section {
        padding: 30px 50px;
    }
    /*----------Menu and Testimonials Grid Responsive Styles----------*/ 
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}
